.block-project-info {
    &__item {
        border-bottom: 1px solid #0C4B35;
        padding-bottom: 5px;
        margin-bottom: 30px;
    }

    &__item:last-of-type {
        margin-bottom: 0;
    }

    &__item-heading {
        color: #212529;
        font-size: 18px;
        font-weight: bold;
        line-height: 30px;
        margin-top: 0;
        margin-bottom: 5px;
    }

    &__item-text {
        color: #676767;
        font-size: 14px;
        line-height: 25px;
        margin: 0;
    }
}