#gform_submit_button_1:hover {
	--gf-local-bg-color: var(--wp--preset--color--white) !important;
	--gf-local-border-color: var(--wp--preset--color--green) !important;
	--gf-local-color: var(--wp--preset--color--green) !important;
}
