.block-testimonials {
    &__container {
        margin-left: auto;
        margin-right: auto;
        max-width: 1408px;

        .swiper {
            margin-top: 50px;
        }

        .swiper-button-prev,
        .swiper-button-next {
            background-color: transparent;
            border: 1px solid #00730C;
            border-radius: 5px;
            display: inline-block;
            width: 50px;
            height: 50px;
            position: relative;
        }

        .swiper-button-prev::before {
            position: absolute;
            content: url(./images/arrow-green.svg);
            left: 6px;
            top: 8px;
        }

        .swiper-button-next::before {
            position: absolute;
            content: url(./images/arrow-green.svg);
            left: 12px;
            top: 5px;
            transform: rotate(180deg);
        }

        .swiper-button-prev::after,
        .swiper-button-next::after {
            display: none
        }
    }

    &__title {
        margin-top: 0;
        margin-bottom: 30px;

        mark {
            background: transparent;
        }
    }

    &__text {
        @media (min-width: 768px) {
            width: 70%;
        }
    }

    &__wrapper-top {
        @media (min-width: 768px) {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    &__pagination {
        display: flex;
        gap: 30px;

        @media (max-width: 767px) {
            margin-top: 30px;
        }
    }

    &__item {
        background: #ffffff;
        padding: 32px 25px;

        @media (min-width: 768px) {
            display: flex;
            gap: 31px;
        }
    }

    &__item-text-wrapper {
        position: relative;
        padding-top: 25px;
    }

    &__item-text-wrapper::before {
        content: url(./images/quotation.svg);
        position: absolute;
        top: 0;
        left: 0;
    }

    &__item-text {
        color: #676767;
        font-size: 18px;
        line-height: 30px;
        margin-top: 0;
        margin-bottom: 27px;
    }

    &__item-name {
        color: #212529;
        font-size: 24px;
        line-height: 33px;
        font-weight: 500;
        margin-top: 0;
        margin-bottom: 5px;
    }

    &__item-job {
        color: #676767;
        font-size: 14px;
        line-height: 25px;
        margin: 0;
    }
}